---
title: Blog
icon: rss
---

{% for post in site.posts %}
<article class="media border p-2 m-2">
  <img class="mr-3" src="{% if post.thumbnail %}{{ post.thumbnail }}{% else %}https://dummyimage.com/75/6a9fb5/fff&text={{ post.title | truncate: 2, "" }}{% endif %}" alt="Generic placeholder image">
  <div class="media-body">
    <h4 class="mt-0">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h4>
    <p>
      {{ post.subtitle }}
    </p>
{% include post-detail.html %}


  </div>
    
</article>
{% endfor %}

