---
layout: default
---


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
      {{ post.date | date: "%d" }}
      {% assign m = post.date | date: "%m" %}
      {% case m %}
          {% when '01' %}janvier
          {% when '02' %}février
          {% when '03' %}mars
          {% when '04' %}avril
          {% when '05' %}mai
          {% when '06' %}juin
          {% when '07' %}juillet
          {% when '08' %}août
          {% when '09' %}septembre
          {% when '10' %}octobre
          {% when '11' %}novembre
          {% when '12' %}décembre
      {% endcase %}
      {{ post.date | date: "%Y" }}
    - {{ post.subtitle }}
    </span>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

