<nav class="navbar navbar-dark bg-custom">
  <a class="navbar-brand d-inline-flex flex-column" href="/">
    <div class="d-inline-flex flex-lg-column flex-sm-row align-items-center">
    <img src="/favicon/apple-icon-120x120.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="brand-title">{{ site.title }}</span>
    </div>
    <span class="brand-description">{{ site.description }}</span>
  </a>

    <ul class="navbar-nav">
      {% for node in site.html_pages %}
        <li class="nav-item{% if page.url == node.url %} active{% endif %}">
          <a class="nav-link" href="{{ node.url }}" title="{{ node.title }}"><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-{{ node.icon }} fa-stack-1x"></i></span><span class="d-none d-lg-inline"> {{ node.title }}</span></a>
        </li>
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/{{ site.author.twitter }}" title="Twitter"><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span><span class="d-none d-lg-inline"> Twitter</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/{{ site.author.github }}" title="Github"><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-github fa-stack-1x"></i></span><span class="d-none d-lg-inline"> Github</span></a>
      </li>
    </ul>
    <a class="twitter-follow-button" href="https://twitter.com/{{ site.author.twitter }}"></a>
    <span class="navbar-text badge badge-pill badge-dark">Dernière mise à jour : {{ site.time | date: '%d-%m-%Y' }}</span>
</nav>