---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }} - <small>{{ page.subtitle }}</small></h1>
  <span class="post-date">{{ page.date | date: "%d" }}
              {% assign m = page.date | date: "%m" %}
              {% case m %}
                  {% when '01' %}janvier
                  {% when '02' %}février
                  {% when '03' %}mars
                  {% when '04' %}avril
                  {% when '05' %}mai
                  {% when '06' %}juin
                  {% when '07' %}juillet
                  {% when '08' %}août
                  {% when '09' %}septembre
                  {% when '10' %}octobre
                  {% when '11' %}novembre
                  {% when '12' %}décembre
              {% endcase %}
              {{ page.date | date: "%Y" }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: "%d" }}
              {% assign m = post.date | date: "%m" %}
              {% case m %}
                  {% when '01' %}janvier
                  {% when '02' %}février
                  {% when '03' %}mars
                  {% when '04' %}avril
                  {% when '05' %}mai
                  {% when '06' %}juin
                  {% when '07' %}juillet
                  {% when '08' %}août
                  {% when '09' %}septembre
                  {% when '10' %}octobre
                  {% when '11' %}novembre
                  {% when '12' %}décembre
              {% endcase %}
              {{ post.date | date: "%Y" }}
            - {{ post.subtitle }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//tcoupin-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                              
{% endif %}

